<h3>Board2</h3>

<div class="tile-grid">
  @for (int row = 0; row < 13; row++)
  {
    <div class="grid-row">
      @for (int col = 0; col < 13; col++)
      {
        <TileComponent Tile="Board.Tiles[col + 13*row]" TileRow="@row" TileColumn="@col"
                       GetTile="SetCurrentSelectedTile" />
      }
    </div>
  }
</div>


@code {

}
