<div class="player-card-body @GetPlayerColorStyle()">
    <div class="text-center">
        <h3>Spiller @(Player.PlayerNr + 1)</h3>
    </div>
    <div class="roll-value">
        @if (Roll is not null)
        {
            <span>@Roll</span>
        }
    </div>
    <div>
        @if (IsGameCreated)
        {
            <button type="button" disabled="@(!Player.CanRoll)" 
                    class="btn btn-primary" @onclick="RollClickedAsync">Roll</button>
        }
    </div>
</div>