<div class="grid-cell @GetTileStyle()" @onclick="GetTileAsync">
  <div class="tile-info">
    @if (Tile is MovementTile tile)
    {
      @if (tile.Pieces.Count > 0)
      {
        <img src="tbd" width="3.5rem" height="3.5rem" /> <p> * @tile.Pieces.Count</p>
      }
    }
  </div>
</div>

<!--
  step 1: render alliance farve (f.eks. hvis det er røds home-tile, så er det rødt)
  step 2: tile checker om den har et eller flere pieces på sig
  step 3: hvis den har, find korrekte billeder af piece * mængden af pieces (f.eks. * 2 gul)
  step 4: spilleren skal kunne hover og peeke et move, hvis tilen har et piece på sig
  step 5: spilleren skal kunne trykke på tilen med et piece og lave sit træk
-->
