
<div id="user-info" class="container-fluid" style="@Style">
  <div style="height: 35%"></div>
  <div class="row">
    <div class="d-flex col@(AvailableMoves ? "-12 justify-content-center" : "-6 justify-content-end")">
      <b class="@GetInfoTextColor()">@GetCurrentPlayerColorName()</b>
    </div>
    @if (!AvailableMoves)
    {
      <div class="d-flex col-6 justify-content-start">
        Ingen træk tilgængelig
      </div>
    }
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      @GameState.Die.PeekRoll()
    </div>
  </div>
  <div style="height: 35%"></div>
</div>
