@page "/"

<div class="setup-page-container">
    <div class="setup-content">
        <div class="row d-flex justify-content-center mb-4 text-center">
            <h1>VÆLG ANTAL</h1>
        </div>
        <div class="row d-flex justify-content-center mb-4">
            @foreach (PlayerSetup player in _players)
            {
                <PlayerCard Player="@player" IsGameCreated="_isGameCreated"
                            OnRollClicked="RollDiceAsync"/>
            }
            @if (_players.Count < 4 && _isGameCreated is false)
            {
                <EmptyCard OnClicked="AddPlayer"/>
            }
        </div>
        <div class="row">
            <div class="col text-center">
                @if (_isGameCreated is false)
                {
                    <button class="btn btn-primary btn-lg px-5" 
                            @onclick="CreateGameAsync">START</button>
                }
                @if (_isGameCreated && !_isReadyToStart)
                {
                    <button class="btn btn-primary btn-lg px-5" 
                            @onclick="DetermineStartingAsync">TJEK HVEM DER STARTER</button>
                }
                @if (_isGameCreated && _isReadyToStart)
                {
                    <button class="btn btn-primary btn-lg px-5" 
                            @onclick="BeginGameAsync">BEGYND SPILLET</button>
                }
            </div>
        </div>
    </div>
</div>